@model List<OnlineStore.Data.Entities.Product>
@{
    var productCount = 0;
}

<div class="block">
    <div class="title-group"><h2>Sản phẩm cùng loại</h2></div>
    <div id="special-offer" class="owl-container">
        <div class="owl">
            <div class='sepecialoffer-item item'>
            @foreach (var product in Model)
            {
                var featuredImage = product.ProductPhotos.FirstOrDefault(x => x.Featured == true);
                var featuredImageUrl = "~/assets/web/images/products/21.jpg";
                if (featuredImage != null)
                {
                    featuredImageUrl = featuredImage.Photo.Url;
                }

                string orderClass;
                if (productCount == 0)
                {
                    orderClass = "first";
                }
                else if (productCount == Model.Count)
                {
                    orderClass = "last";
                }
                else
                {
                    orderClass = "";
                }
                productCount++;

                <div class="item-inner @orderClass">
                    <div class="images-container">
                        <a href="#" title="@product.Name" class="product-image">
                            <img src="~/@featuredImageUrl" alt="@product.Name" />
                        </a>
                    </div>
                    <div class="des-container">
                        <h2 class="product-name">
                            <a href="#" title="@product.Name">@product.Name</a>
                        </h2>
                        <div class="price-box">
                            <p class="special-price">
                                <span class="price">$169.99</span>
                            </p>
                            <p class="old-price">
                                <span class="price">$189.00</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div><!-- /.owl-container -->
</div><!-- /.block - Special offer -->