@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                @Html.Action("_MainSlider", "Home")
            </div>
        </div>
        <!-- /advertisement -->
        <div class="row">
            <div class="col-sm-3 col-left" style="padding-top:150px;">
                <div class="banner-left">
                    <a href="#"><img src="~/assets/web/images/ads/ads-01.jpg" alt=""></a>
                    <div class="banner-content">
                        <h1>sale up to</h1>
                        <h2>20% off</h2>
                        <p>on selected products</p>
                        <a href="#">buy now</a>
                    </div>
                </div>
            </div><!-- /.col-left -->
            <div class="col-sm-9 col-right">
                @Html.Action("_FeaturedProduct", "Home")
                @Html.Action("_NewArrivalProduct", "Home")
            </div>
        </div>
        <!--  Recommended Products-->
        @Html.Action("_RecommendedProduct", "Home")

        <!--  Recommended Products-->
        @Html.Action("_TopFashion", "Home", new { categoryId = 4 })

        <!--  Recommended Products-->
        @Html.Action("_TopFood", "Home", new { categoryId = 11 })

        <!--  Recommended Products-->
        @Html.Action("_TopBooks", "Home", new { categoryId = 7 })

        <!-- Recently preview products -->
        @Html.Action("_RecentlyPreviewProducts", "Home")

        <!-- Popular Brands -->
        @Html.Action("_PopularBrands", "Home")
    </div>
</div>

@*<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>*@
@*<script src="~/assets/web/js/bootstrap.min.js"></script>*@
@*<script src="~/assets/web/js/jquery.nivo.slider.pack.js"></script>*@
@*<script src="~/assets/web/js/owl.carousel.min.js"></script>*@
<script src="~/assets/web/js/main.js"></script>
<script type="text/javascript">
    /* Main Slideshow */
    $(window).load(function() {
        $(document).off('mouseenter').on('mouseenter', '.pos-slideshow', function(e) {
            $('.ma-banner7-container .timethai').addClass('pos_hover');
        });
        $(document).off('mouseleave').on('mouseleave', '.pos-slideshow', function(e) {
            $('.ma-banner7-container .timethai').removeClass('pos_hover');
        });
    });
    $(window).load(function() {
        $('#ma-inivoslider-banner7').nivoSlider({
            effect: 'random',
            slices: 15,
            boxCols: 8,
            boxRows: 4,
            animSpeed: 1000,
            pauseTime: 6000,
            startSlide: 0,
            controlNav: false,
            controlNavThumbs: false,
            pauseOnHover: true,
            manualAdvance: false,
            prevText: 'Prev',
            nextText: 'Next',
            afterLoad: function() {
            },
            beforeChange: function() {
            },
            afterChange: function() {
            }
        });
    });
    $(document).ready(function () {
        $("div.mega-menu-category").show();
    });
</script>

<style>
    .breadcrumbs {
        display: none;
    }
</style>