<script src="~/assets/admin/js/jquery-ui.min.js"></script>
<link href="~/assets/admin/css/jquery-ui.min.css" rel="stylesheet" />
<script src="~/assets/admin/js/app/address/edit.js"></script>

@using OnlineStore.Data.Entities
@model OnlineStore.Data.Entities.Address
@{
    ViewBag.Module = "Địa chỉ";
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.CreatedOn)
    @Html.HiddenFor(x => x.CreatedById)
    @Html.HiddenFor(x => x.ModifiedOn)
    @Html.HiddenFor(x => x.ModifiedById)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="CityId" class="slCity form-control">
                    @{
                        var cities = (List<City>)ViewBag.Cities;

                        foreach (var city in cities)
                        {
                            if (city.Id == Model.CityId)
                            {
                                <option value="@city.Id" selected="selected">@city.Name</option>
                            }
                            else
                            {
                                <option value="@city.Id">@city.Name</option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="CustomerId" class="slCustomer form-control">
                    @{
                        var customers = (List<Customer>)ViewBag.Customers;

                        foreach (var customer in customers)
                        {
                            if (customer.Id == Model.CustomerId)
                            {
                                <option value="@customer.Id" selected="selected">@customer.Name</option>
                            }
                            else
                            {
                                <option value="@customer.Id">@customer.Name</option>
                            }
                        }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-white btn-info btn-bold">
                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
}

<div>
    <i class="ace-icon fa fa-reply icon-only"></i> @Html.ActionLink("Trở về trang chủ", "Index")
</div>

<script>
    $(document).ready(function () {
        $(".slCity").select2({
            placeholder: "Chọn thành phố",
            allowClear: true
        });

        $(".slCustomer").select2({
            placeholder: "Chọn khách hàng",
            allowClear: true
        });
    });
</script>