@model OnlineStore.Data.Entities.Brand

@{
    ViewBag.Module = "Thương hiệu";
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using OnlineStore.Data.Entities
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.CreatedOn)
    @Html.HiddenFor(x => x.CreatedById)
    @Html.HiddenFor(x => x.ModifiedOn)
    @Html.HiddenFor(x => x.ModifiedById)

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SubCategoryIds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" id="hdSubCategoryIds" name="SubCategoryIds" value="@Model.SubCategoryIds" />
                <select class="slSubCategory form-control" multiple="multiple">
                    @{
                        var subCategories = (List<SubCategory>)ViewBag.SubCategories;
                        var categories = subCategories.GroupBy(x => new { x.Category.Id, x.Category.Name });

                        foreach (var category in categories)
                        {
                            <optgroup label="@category.Key.Name">
                                @foreach (var subCategory in category)
                                {
                                    <option value="@subCategory.Id">@subCategory.Name</option>
                                }
                            </optgroup>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-white btn-info btn-bold">
                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                    Cập nhật
                </button>
            </div>
        </div>
    </div>
}

<div>
    <i class="ace-icon fa fa-reply icon-only"></i> @Html.ActionLink("Trở về trang chủ", "Index")
</div>

<script>
    $(document).ready(function () {
        $(".slSubCategory").select2({
            placeholder: "Chọn một danh mục",
            allowClear: true
        });

        //Update value for select
        var subCategoryIds = $("#hdSubCategoryIds").val();
        if (subCategoryIds != "")
        {
            $(".slSubCategory").val(subCategoryIds.split(",")).trigger("change"); 
        }

        $(".slSubCategory").on("change", function (e)
        {
            if ($(this).val() == null)
            {
                $("#hdSubCategoryIds").val("");
            }
            else
            {
                $("#hdSubCategoryIds").val($(this).val().join());
            }
        });
    });
</script>

<style>
    .select2-search:after {
        display: none;
    }
</style>