@model OnlineStore.Data.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-right">
                <div class="product-view">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="product-img-box">
                                @{
                                    var featuredImage = Model.ProductPhotos.FirstOrDefault(x => x.Featured == true);
                                    var featuredImageUrl = "~/assets/web/images/products/21.jpg";
                                    if (featuredImage != null)
                                    {
                                        featuredImageUrl = featuredImage.Photo.Url;
                                    }

                                    <p class="product-image">
                                        <a href="~/@featuredImageUrl" class="cloud-zoom" id="ma-zoom1">
                                            <img src="~/@featuredImageUrl" alt="Fusce aliquam" title="Fusce aliquam" />
                                        </a>
                                    </p>
                                }
                                <div class="more-views thumbnail-container">
                                    <ul class="bxslider">
                                        @foreach (var productPhoto in Model.ProductPhotos.OrderBy(x => x.Featured))
                                        {
                                            <li class="thumbnail-item">
                                                <a href="/@productPhoto.Photo.Url" class="cloud-zoom-gallery" title="" name="/@productPhoto.Photo.Url" rel="useZoom: 'ma-zoom1', smallImage: '/@productPhoto.Photo.Url'">
                                                    <img src="/@productPhoto.Photo.Url" alt=""/>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-shop col-sm-7">
                            <div class="product-name">
                                <h1>@Model.Name</h1>
                            </div>
                            <div class="box-container2">
                                <div class="price-box">
                                    <p class="special-price">
                                        <span class="price-label">Special Price</span>
                                        <span id="product-price-1" class="price">@Model.Price đ</span>
                                    </p>
                                    @*<p class="old-price">
                                        <span class="price-label">Regular Price:</span>
                                        <span id="old-price-1" class="price">200.000 đ</span>
                                    </p>*@
                                </div>
                            </div>
                            <div class="short-description">
                                <div class="std">@Model.ShortDescrition</div>
                            </div>
                            <p class="availability in-stock">Availability: <span>In stock</span></p>
                            <form class="form-horizontal">
                                @*<div class="form-group">
                                    <label class="col-md-2 col-sm-3 control-label">Kích thước <em>*</em></label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option value="">-- Please Select --</option>
                                            <option value="2">L</option>
                                            <option value="1">M</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 control-label">Màu <em>*</em></label>
                                    <div class="col-sm-7">
                                        <select class="form-control">
                                            <option value="">-- Please Select --</option>
                                            <option value="4">black +$2.00</option>
                                            <option value="3">blue +$1.00</option>
                                            <option value="5">yellow +$1.00</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 control-label">Số lượng:</label>
                                    <div class="col-md-3 col-sm-5">
                                        <div class="input-group qty">
                                            <span class="input-group-btn">
                                                <button class="btn" type="button">-</button>
                                            </span>
                                            <input type="text" class="form-control" value="3">
                                            <span class="input-group-btn">
                                                <button class="btn" type="button">+</button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-danger btn-cart">Mua</button>
                            </form>
                        </div><!-- /.product-shop -->
                    </div>
                    <div class="product-tab tab-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#product-desc" data-toggle="tab">CHI TIẾT SẢN PHẨM</a></li>
                            <li><a href="#product-review" data-toggle="tab">FEEDBACKS KHÁCH HÀNG</a></li>
                            <li><a href="#product-tags" data-toggle="tab">PRODUCT TAGS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="product-desc">
                                @Model.Description
                            </div>
                            <div class="tab-pane" id="product-review">...</div>
                            <div class="tab-pane" id="product-tags">...</div>
                        </div>
                    </div><!-- /.product-tab -->
                </div><!-- /.product-view -->
            </div><!-- /.col-right -->
            <div class="col-sm-3 col-left">
                <!--  Related Products-->
                @Html.Action("_SpecialOffer", "Home", new { subCategoryId = Model.SubCategoryId })

                <div class="banner-left">
                    <a href="#"><img src="/assets/web/images/ads/ads-01.jpg" alt=""></a>
                    <div class="banner-content">
                        <h1>Khuyến mãi</h1>
                        <h2>giảm giá 20%</h2>
                        <p>trên mỗi sản phẩm</p>
                        <a href="#">mua ngay</a>
                    </div>
                </div><!-- /.banner-left -->
            </div><!-- /.col-left -->
        </div>
    </div>
</div><!-- /.main -->

<script>
    $(document).ready(function () {
        $('.thumbnail-container .bxslider').bxSlider({
            slideWidth: 94,
            slideMargin: 5,
            minSlides: 4,
            maxSlides: 4,
            pager: false,
            speed: 500,
            pause: 3000
        });
    });
</script>