@using OnlineStore.Common
@using OnlineStore.Data.Entities
@model List<OnlineStore.Data.Entities.OrderDetail>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var customer = Session[CommonConstants.CUSTOMER_SESSION] as Customer;
    var isNew = "checked";
}
<div class="main">
    <div class="container">
        <div class="checkout" style="padding-bottom:20px;">
            <div class="row">
                <div class="col-sm-7">
                    @*If existing shipping address*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="frb-group">
                                @if (customer != null && customer.ShippingAddresses.Count > 0)
                                {
                                    <div class="frb frb-primary col-sm-12" style="padding:0;">
                                        <input type="radio" checked class="chkPaymentAddress" id="radio-button-1" name="radio-button" value="current">
                                        <label for="radio-button-1">
                                            <span class="frb-title">Sử dụng địa chỉ giao hàng hiện tại của bạn</span>
                                            <span class="frb-description">
                                                Sử dụng địa chỉ giao hàng hiện tại của bạn
                                            </span>
                                        </label>
                                    </div>
                                    isNew = "";
                                }
                                <div class="frb frb-success col-sm-12" style="padding:0;">
                                    <input type="radio" @isNew class="chkPaymentAddress" id="radio-button-2" name="radio-button" value="new">
                                    <label for="radio-button-2">
                                        <span class="frb-title">Nhập địa chỉ giao hàng mới</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Add new shipping address*@
                    <div class="checkout-step" id="newShippingAddress">
                        <div class="checkout-step-item">
                            @*<div class="step-title clearfix collapsed" data-toggle="collapse" data-target="#checkout-three">
                                <h2>Chọn địa chỉ giao hàng</h2>
                            </div>*@
                            <div id="checkout-three" class="collapse in">
                                <div class="step-content">
                                    <div class="col-sm-offset-1 col-sm-10 ">
                                        <form class="form-horizontal" id="frmDeliveryInfo" action="~/ShoppingCart/CreateDeliveryInfo" method="post">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Tên khách hàng<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="CustomerName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Điện thoại di động<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="Telephone" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Email<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="email" name="Email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Thành phố<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <select name="City" class="form-control">
                                                        <option value="">-- Chọn thành phố  --</option>
                                                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                                        <option value="Buôn Ma Thuột">Buôn Ma Thuột</option>
                                                        <option value="Vũng Tàu">Vũng Tàu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Mã bưu điện</label>
                                                <div class="col-sm-8">
                                                    <input name="PostalCode" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Địa chỉ <em>*</em></label>
                                                <div class="col-sm-8">
                                                    <textarea name="Address" type="text" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Chú thích</label>
                                                <div class="col-sm-8">
                                                    <textarea name="Note" rows="5" type="text" class="form-control"></textarea>
                                                </div>
                                            </div>
                                         
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <a href="#" onclick="SaveDeliveryInformation();" class="btn btn-default btn-md fwb">TIẾP TỤC</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="first last">
                                        <th>Ảnh</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var orderDetail in Model)
                                    {
                                        var featuredImage = orderDetail.Product.ProductPhotos.FirstOrDefault(x => x.Featured == true);
                                        var featuredImageUrl = Placeholder.PRODUCT;
                                        if (featuredImage != null)
                                        {
                                            featuredImageUrl = featuredImage.Photo.Url;
                                        }

                                        <tr class="order-details" id="product-@orderDetail.ProductId">
                                            <td style="vertical-align:middle;">
                                                <a class="product-image" title=">@orderDetail.Product.Name" href="/Products/Details/@orderDetail.ProductId">
                                                    <img style="width:50px;" alt="@orderDetail.Product.Name" src="~/@featuredImageUrl">
                                                </a>
                                            </td>
                                            <td style="vertical-align:middle;">
                                                <a href="/Products/Details/@orderDetail.ProductId">@orderDetail.Product.Name</a>
                                            </td>
                                            <td class="qty" style="text-align:center; font-size:14px; vertical-align:middle;">
                                                <label><b>@orderDetail.Quantity</b></label>
                                            </td>
                                            <td class="subtotal" style="vertical-align:middle;">@orderDetail.Price.ToCurrency()</td>
                                            @{
                                                var amount = orderDetail.Quantity * orderDetail.Price;
                                            }
                                            <td style="vertical-align:middle;" class="grandtotal">@amount.ToCurrency()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="row">
                                    Phí vận chuyển:
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row" style="text-align:right;">
                                    Chưa tính
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="row">
                                    Tổng cộng:
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row" style="text-align:right;">
                                    @{
                                        var totalAmount = Model.Sum(x => x.Price * x.Quantity);
                                    }
                                    @totalAmount.ToCurrency() VNĐ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CheckPaymentAddress();
        $(".chkPaymentAddress").on("change", function (e) {
            CheckPaymentAddress();
        });
    });

    function CheckPaymentAddress()
    {
        var paymentAddress = $(".chkPaymentAddress:checked").val();
        if (paymentAddress === "new")
            $("#newShippingAddress").show();
        else
            $("#newShippingAddress").hide();
    }

    function SaveDeliveryInformation()
    {
        var paymentAddress = $(".chkPaymentAddress:checked").val();
        if (paymentAddress === "new")
        {
            $("#frmDeliveryInfo").submit();
        }
    } 
</script>


