@using OnlineStore.Common
@model List<OnlineStore.Data.Entities.OrderDetail>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="container">
        <div class="checkout">
            <div class="row">
                <div class="col-sm-7">
                    <div class="checkout-step">
                        <div class="checkout-step-item">
                            <div class="step-title clearfix collapsed" data-toggle="collapse" data-target="#checkout-three">
                                @*<span class="number">3</span>*@
                                <h2>Chọn địa chỉ giao hàng</h2>
                            </div>
                            <div id="checkout-three" class="collapse in">
                                <div class="step-content">
                                    <div class="col-sm-offset-1 col-sm-10 ">
                                        <form class="form-horizontal" id="frmCheckout" action="~/Orders/Create" method="post">
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Tên khách hàng<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="CustomerName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Điện thoại di động<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="Telephone" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Email<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <input type="email" name="Email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Thành phố<em>*</em></label>
                                                <div class="col-sm-8">
                                                    <select name="City" class="form-control">
                                                        <option value="">-- Chọn thành phố  --</option>
                                                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                                        <option value="Buôn Ma Thuột">Buôn Ma Thuột</option>
                                                        <option value="Vũng Tàu">Vũng Tàu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Mã bưu điện</label>
                                                <div class="col-sm-8">
                                                    <input name="PostalCode" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Địa chỉ <em>*</em></label>
                                                <div class="col-sm-8">
                                                    <textarea name="Address" type="text" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-4">Chú thích</label>
                                                <div class="col-sm-8">
                                                    <textarea name="Note" rows="5" type="text" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-4 col-sm-8">
                                                    <a href="/ShoppingCart/PaymentInformation" class="btn btn-default btn-md fwb">TIẾP TỤC</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="first last">
                                        <th>Ảnh</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                        <th>Tổng cộng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var orderDetail in Model)
                                    {
                                        var featuredImage = orderDetail.Product.ProductPhotos.FirstOrDefault(x => x.Featured == true);
                                        var featuredImageUrl = Placeholder.PRODUCT;
                                        if (featuredImage != null)
                                        {
                                            featuredImageUrl = featuredImage.Photo.Url;
                                        }

                                        <tr class="order-details" id="product-@orderDetail.ProductId">
                                            <td style="vertical-align:middle;">
                                                <a class="product-image" title=">@orderDetail.Product.Name" href="/Products/Details/@orderDetail.ProductId">
                                                    <img style="width:50px;" alt="@orderDetail.Product.Name" src="~/@featuredImageUrl">
                                                </a>
                                            </td>
                                            <td style="vertical-align:middle;">
                                                <a href="/Products/Details/@orderDetail.ProductId">@orderDetail.Product.Name</a>
                                            </td>
                                            <td class="qty" style="text-align:center; font-size:14px; vertical-align:middle;">
                                                <label><b>@orderDetail.Quantity</b></label>
                                            </td>
                                            <td class="subtotal" style="vertical-align:middle;">@orderDetail.Price.ToCurrency()</td>
                                            @{
                                                var amount = orderDetail.Quantity * orderDetail.Price;
                                            }
                                            <td style="vertical-align:middle;" class="grandtotal">@amount.ToCurrency()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="row">
                                    Phí vận chuyển:
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row" style="text-align:right;">
                                    Chưa tính
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <div class="row">
                                    Tổng cộng:
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row" style="text-align:right;">
                                    @{
                                        var totalAmount = Model.Sum(x => x.Price * x.Quantity);
                                    }
                                    @totalAmount.ToCurrency() VNĐ
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

