@model OnlineStore.Data.Entities.Order
@{
    ViewBag.Module = "Đơn hàng";
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Code</h2>
<div>
    @*Details information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Thông tin khách hàng</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CustomerName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telephone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telephone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    @*Order information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Thông tin đơn hàng</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentObject)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PaymentObject)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PaymentMethod)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeliveryMethod)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeliveryMethod)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    @*Order Details information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Chi tiết đơn hàng</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
               Chi tiết đơn hàng
            </div>
        </div>
    </div>
    @*Common information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Thông tin chung</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    <i class="ace-icon fa fa-wrench bigger-110 icon-only"></i> @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
    <i class="ace-icon fa fa-reply icon-only"></i> @Html.ActionLink("Trở về trang chủ", "Index")
</p>