@using OnlineStore.Common
@model List<OnlineStore.Data.Entities.Product>
@{
    var info = (SortingPagingInfo)TempData["SortingPagingInfo"];
}

@*Grid*@
<div id="viewmode-grid">
    <div class="row products">
        @foreach (var product in Model)
        {
            var featuredImage = product.ProductPhotos.FirstOrDefault(x => x.Featured == true);
            var featuredImageUrl = Placeholder.PRODUCT;
            if (featuredImage != null)
            {
                featuredImageUrl = featuredImage.Photo.Url;
            }

            <div class="col-md-3 col-sm-6">
                <div class='productslider-item item'>
                    <div class="item-inner">
                        <div class="~/assets/web/images-container">
                            <div class="product_icon">
                                <div class='new-icon'><span>new</span></div>
                                <div class="sale-icon"><span>sale</span></div>
                            </div>
                            <a href="/san-pham/@product.MetaTitle-@product.Id" title="@product.Name" class="product-image">
                                <img src="~/@featuredImageUrl" alt="@product.Name" />
                            </a>
                        </div>
                        <div class="des-container">
                            <h2 class="product-name">
                                <a href="/san-pham/@product.MetaTitle-@product.Id" title="@product.Name">@product.Name</a>
                            </h2>
                            <div class="price-box">
                                <p class="special-price">
                                    <span class="price">@product.Price.ToCurrency() đ</span>
                                </p>
                                @*<p class="old-price">
                                    <span class="price">190.000 đ</span>
                                </p>*@
                            </div>
                        </div>
                        <div class="cart-container">
                            <button type="submit" class="btn btn-danger btn-cart">Mua</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!-- /.product -->
</div>

@*List*@
<div id="viewmode-list" style="display: none;">
    <ol id="products-list" class="products-list">
        @foreach (var product in Model)
        {
            var featuredImage = product.ProductPhotos.FirstOrDefault(x => x.Featured == true);
            var featuredImageUrl = Placeholder.PRODUCT;
            if (featuredImage != null)
            {
                featuredImageUrl = featuredImage.Photo.Url;
            }

            <li class="item">
                <div class="item-inner">
                    <div class="row">
                        <div class="col-sm-4 col-sms-4 col-smb-12">
                            <div class="~/assets/web/images-container">
                                <div class="product_icon">
                                    <div class="new-icon"><span>new</span></div>
                                    <div class="sale-icon"><span>sale</span></div>
                                </div>
                                s<a class="product-image" title="@product.Name" href="#" rel="author"><img alt="@product.Name" src="~/@featuredImageUrl"></a>
                            </div>
                        </div>
                        <div class="product-shop col-sm-8 col-sms-8 col-smb-12">
                            <div class="f-fix">
                                <h2 class="product-name">
                                    <a title="" href="#">@product.Name</a>
                                </h2>
                                <div class="price-box">
                                    <p class="special-price">
                                        <span class="price-label">Special Price</span>
                                        <span id="product-price-1" class="price">200.000 đ</span>
                                    </p>
                                    <p class="old-price">
                                        <span class="price-label">Regular Price:</span>
                                        <span id="old-price-1" class="price">190.000 đ</span>
                                    </p>
                                </div>
                                <div class="desc std">
                                    @product.Description <a class="link-learn" title="@product.Name" href="#">Xem hàng</a>
                                </div>
                                <div class="actions">
                                    <div class="actions-inner">
                                        <button class="btn btn-danger" title="Add to Cart" type="button">Mua</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ol>
</div>

@Html.Action("_Paging", "Common", new { totalRows = info.TotalRows, currentPage = info.CurrentPage, pageSize = info.PageSize, controlName = "/SubCategories/Index" })
