@using OnlineStore.Common
@model IEnumerable<OnlineStore.Data.Entities.Module>

@{
    ViewBag.Title = "Quản lý chức năng";
    ViewBag.SearchUrl = "Admin/Modules/Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var info = (SortingPagingInfo)TempData["SortingPagingInfo"];
}

<div class="action-buttons">
    <button class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
        @Html.ActionLink("Tạo mới", "Create")
    </button>
    @Html.Partial("_Search")
</div>

<br/>

<div class="row">
    <div class="col-xs-12">
        <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th class="center sorting_disabled">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th class="sorting sortable" data-sortfield="Name">
                     @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="sorting sortable" data-sortfield="Description" >
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="sorting sortable" data-sortfield="Link"> 
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th class="sorting sortable" data-sortfield="OrderNumber">
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th class="sorting sortable" data-sortfield="CreatedOn">
                   <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>@Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th class="sorting " data-sortfield="CreatedBy">
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th class="sorting sortable">
                    <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>@Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th class="sorting sortable" data-sortfield="ModifiedBy">
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th class="sorting_disabled"></th>
            </tr>
            </thead>

            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </td>

                    <td>
                        <a href="#">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedBy)
                    </td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="~/Admin/Modules/Edit/@item.Id">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="~/Admin/Modules/Details/@item.Id">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red" href="~/Admin/Modules/Delete/@item.Id">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="~/Admin/Modules/Details/@item.Id" class="tooltip-info" data-rel="tooltip" title="View">
                                            <span class="blue">
                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/Admin/Modules/Edit/@item.Id" class="tooltip-success" data-rel="tooltip" title="Edit">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="~/Admin/Modules/Delete/@item.Id" class="tooltip-error" data-rel="tooltip" title="Delete">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        @Html.Action("_Paging", "Common", new { totalRows = info.TotalRows, currentPage = info.CurrentPage, pageSize = info.PageSize, controlName = "/Modules/Index" })
    </div><!-- /.span -->
</div><!-- /.row -->

<script>
    $(document).ready(function () {
      //  LoadSorting();
        $("th.sortable").click(function (evt) {
            var sortfield = $(evt.target).data("sortfield");
            if ($("#hdSortField").val() == sortfield) {
                if ($("#hdSortDirection").val() == "ascending") {
                    $("#hdSortDirection").val("descending");
                    //$(this).parent().attr("class", "sorting_desc");
                }
                else {
                    $("#hdSortDirection").val("ascending");
                    $(this).parent().removeClass("sorting");
                    //$(this).parent().attr("class", "sorting_asc");
                }
            }
            else {
                $("#hdSortField").val(sortfield);
                $("#hdSortDirection").val("ascending");
            }

            fnSearch(LoadSorting);
        });
    });

    function LoadSorting() {
        var sortField = $("#hdSortField").val();
        var sortDirection = $("#hdSortDirection").val();

        // Remove all sorting
        //$("th.sortable").removeClass("sorting");
        //$("th.sortable").removeClass("sorting_asc");
        //$("th.sortable").removeClass("sorting_desc");
        //$("th.sortable").addClass("sorting");

        $("th.sortable").each(function () {
            if ($(this).data("sortfield") == sortField) {
                if (sortDirection === "ascending") {
                    $(this).removeClass("sorting");
                    $(this).addClass("sorting_desc");
                }
                else {
                    $(this).removeClass("sorting");
                    $(this).addClass("sorting_asc");
                }
            } else {
                if ($(this).hasClass("sorting_desc")) 
                {
                    $(this).removeClass("sorting_desc");
                    $(this).addClass("sorting");
                }
                else if ($(this).hasClass("sorting_asc")) {
                    $(this).removeClass("sorting_asc");
                    $(this).addClass("sorting");
                }
            }
        });
    }
</script>