@using OnlineStore.Common
@using OnlineStore.Data.Entities
@{
    var customer = Session[CommonConstants.CUSTOMER_SESSION] as Customer;
}
<div class="header">
    <div class="topbar">
        <div class="container">
            <div class="topbar-left">
                <ul class="topbar-nav clearfix">
                    <li><a href="tel:01696911552"><span class="phone">0169 691 1552</span></a></li>
                    <li><a href="mailto:hieu.truongquan@gmail.com"><span class="email">hieu.truongquan@gmail.com</span></a></li>
                </ul>
            </div>
            <div class="topbar-right">
                <ul class="topbar-nav clearfix">
                    @if (customer == null)
                    {
                        <li><a href="/dang-ky" class="login">Đăng ký</a></li>
                        <li><a href="/dang-nhap" class="login">Đăng nhập</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="account dropdown-toggle" data-toggle="dropdown">Xin chào, @customer.Name</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a title="My Account" href="account.html">Quản lý tài khoản</a></li>
                                <li><a title="My Wishlist" href="wishlist.html">Đơn hàng của tôi</a></li>
                                <li><a href="/Customers/Logout"><img src="~/assets/web/images/flag-spain.png" alt=""> &nbsp;Đăng xuất</a></li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="currency dropdown-toggle" data-toggle="dropdown">VNĐ</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Euro</a></li>
                            <li><a href="#">US Dollar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="language dropdown-toggle" data-toggle="dropdown"><img style="width:20px;" src="~/assets/web/images/flag-vi.png" alt=""> Tiếng Việt</a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><img src="~/assets/web/images/flag-us.png" alt=""> &nbsp;English</a></li>
                            <li><a href="#"><img src="~/assets/web/images/flag-spain.png" alt=""> &nbsp;Spanish</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container -->
    </div><!-- /.topbar -->
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/" class="logo"><img src="~/assets/web/images/logo.png" alt=""></a>
                </div>
                <div class="col-md-9">
                    <div class="support-client">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="box-container time">
                                    <div class="box-inner">
                                        <h2>Thời gian làm việc</h2>
                                        <p>Thứ hai - Chủ nhật: 8.00 - 18.00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-container free-shipping">
                                    <div class="box-inner">
                                        <h2>Giao hàng miễn phí</h2>
                                        <p>Với đơn hàng từ 500.000 đ trở lên</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="box-container money-back">
                                    <div class="box-inner">
                                        <h2>Hoàn trả tiền 100%</h2>
                                        <p>Trong vòng 30 ngày sau khi giao hàng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.support-client -->
                    <!-- Main search -->
                    @Html.Partial("_MainSearch")

                    <!-- Mini cart -->
                    <div id="cart-container">
                        @Html.Action("_MyCart", "ShoppingCart")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mega-container visible-lg visible-md">
                        <div class="navleft-container">
                            <div class="mega-menu-title" onclick="EnableMenu();">
                                <h3>Danh mục</h3>
                            </div>
                            <div class="mega-menu-category" style="display: none;">
                                @Html.Action("_MainMenu", "Categories")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!--Top Menu-->
                    @Html.Action("_TopMenu", "Menus")
                </div>
            </div>
        </div>

        <!-- Mobile menu -->
        @Html.Partial("_MobileMenu")

    </div><!-- /.header-bottom -->
</div><!-- /.header -->