@model OnlineStore.Data.Entities.Category
@{
    ViewBag.Module = "Danh mục";
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    @*Details information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Thông tin chi tiết</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.MetaTitle)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.OrderNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    @*Common information*@
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">Thông tin chung</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModifiedOn)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy.Name)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<p>
    <button class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id })
    </button>
    <div style="padding-top: 20px;">
        <i class="ace-icon fa fa-reply icon-only"></i> @Html.ActionLink("Trở về trang chủ", "Index")
    </div>
</p>
